*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
}

.logo{
  padding-left: 2em;
}

.logo-text{
  font-size: 2em;
}

.menubar{
  width: 45%;
  margin-left: 8.5em;
}

.list{
  display: flex;
  justify-content: space-between;
}

.list-items a{
  color: black;
  font-family: sans-serif;
  font-size: 0.9em;
  transition: 0.4s;
}

.list-items a:hover{
  color: black;
}

.cart{
  padding-right: 2em;
  position: relative;
}

.cart .number-of-items{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 18px;
  top: -7px;
  background: #f09d51;
  height: 20px;
  width: 20px;
  border-radius: 7px;
}

.number-of-items .noi{
  font-size: 0.7em;
}

.fa-shopping-cart{
  font-size: 1.5em;
  cursor: pointer;
}

.burger{
  height: 28px;
  width: 32px;
  display: none;
}

.layer1, .layer2, .layer3{
  background: black;
  height: 4px;
  margin-top: 4px;
  width: 100%;
  border-radius: 10px;
}